<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<a href="/Voitures"> < Liste des voitures</a> <br><br><br>
<h1>Ajouter une voiture</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/addVoiture}"
      th:object="${voitureForm}" method="POST">
    Id:
    <input type="text" th:field="*{id}" />
    <br/>
    Marque:
    <input type="text" th:field="*{marqueName}" />
    <br/>
    Modele:
    <input type="text" th:field="*{modelName}" />
    <br/>
    Couleur:
    <input type="text" th:field="*{colorName}" />
    <br/>
    Prix:
    <input type="text" th:field="*{price}" />
    <br/>
    <input type="submit" value="Ajouter" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>